.b {
    width: 90%;
    margin: auto;
    border: 3px solid green;
    height: 100px;
    align-items: center;
    display: flex;
}
.c {
    width: 100px;
    height: 70px;
}
.d {
    
    margin-left: 200px;
}
img {
    width: 500px;
    height: 500px;
    margin-left: 70px;
}